#{actions-types} {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  border-radius: 3px;
  padding: 3px;

  &:focus {
    color: $color__text-input-focus;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}