.c-header {
  background-color: $white;
  position: relative;

  &__searchbar {
    background-color: $white;
    height: 91px;
  }

  &__logo {
    position: absolute;
    top: 0;
  }

  &__navbar {
    background-color: $green_base;

    .toggled {
      .menu {
        margin-top: 40px;

        @media #{$medium-up} {
          margin-top: 0;
        }
      }
    }

    .menu-toggle {
      box-shadow: none;
      background-color: $green_base;
      padding: 10px 15px;
      color: $white;
      border-color: $white;
    }

    .logo {
      width: 54px;
      position: absolute;
      left: 15px;
    }
  }
}