$icomoon-font-path: "src/icons" !default;

$icon-file-txt: "\e926";
$icon-file-jpg: "\e927";
$icon-file-mp4: "\e92a";
$icon-file-zip: "\e92b";
$icon-file-pdf: "\eadf";
$icon-file-openoffice: "\eae0";
$icon-file-docx: "\eae1";
$icon-file-xls: "\eae2";

