/*
* Photo Gallery plugin overrides
*/
.page-template-page-galeria {
    #bwg_container1_0 #bwg_container2_0 {
        .bwg_album_thumbnails_0 {
            text-align: center;

            @include breakpoint(668 up) {
                text-align: left;
            }
        }
        .bwg_album_thumb_spun1_0 {
            margin: 0;
            transition: transform .2s linear;
            @include breakpoint(medium down) {
                transform: scale(1);

                &:hover {
                    transform: scale(1);
                }

               .bwg_title_spun1_0 {
                   background: transparentize($black, .5);
               }      
            }

            &:hover {
               .bwg_title_spun1_0 {
                   background: transparentize($black, .5)
               }      
            }

            .bwg_title_spun1_0 {
                @include breakpoint(medium down) {
                    opacity: 1;                
                    left: 0;

                    &:hover {
                        .bwg_title_spun1_0 {
                            background: transparentize($black, .5)
                        }      
                    }
                }
                transition: opacity .2s linear;
            }
        }

        .bwg_title_spun2_0 {
           color: $white; 
           padding: initial;
        }
    } 
}