.site-content {
  padding: 50px 0;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* #News post */
.news-post {
  border: 1px solid $table_border_color;
  margin-bottom: 30px;

  small {
    font-size: 55%;
    line-height: 1.5;
  }

  &.first {
    .news-post__content {
      padding: 20px;

      .h4 {
        margin-top: 0;
      }

      .news-post__body {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    img {
      min-height: 250px;
    }
  }

  &__body {
    font-size: 14px;
  }
}