.table {
  margin: 0 0 1.5em;
  width: 100%;
  font-size: 12px;
  color: $black;

  .pkt {
    color: $white;
  }

  tbody {
    border: none;
  }

  tr, th, td {
    background-color: $white;
  }

  tr {
    font-family: $roboto-bold;
    border-bottom: 1px solid $table_border_color;
  }

  th {
    text-transform: uppercase;
    color: $green_base;
  }

  &.table-league {
    .pkt {
      background-color: $green_base;
      color: $white;
      border-bottom: 1px solid $green_base;
    }
  }

  &.table-upcoming-matches {
    .pkt {
      background-color: $black;
      border-bottom: 1px solid $black;
    }
  }
}