.menu-item {
  a {
    &:focus {
      outline-color: $yellow_base;
    }
  }
}

.footer-menu {
  a {
    &:focus {
      outline-color: $white;
    }
  }
}

a {
  color: $green_base;

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: $green_base medium solid;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

